## Libraries

In [1]:
import numpy as np
import pandas as pd
import numpy as np
import sklearn as skl
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn import preprocessing
from sklearn.linear_model import BayesianRidge
from sklearn.impute import SimpleImputer
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

# Exploratory Data Analysis

In [28]:
df = pd.read_csv("C:\\Users\\carol\\Desktop\\InfoVis\\Project\\CheckPoint2\\data.csv", sep = ";")
df.columns = df.columns.str.replace(' ','_')
print(df.head())
df.to_csv('Initial.csv', index = False, header = True)

       Country  Year  LifeLadder  Log(GDPpercapita)  SocialSupport  \
0  Afghanistan  2008    3.723590           7.370100       0.450662
1  Afghanistan  2009    4.401778           7.539972       0.552308
2  Afghanistan  2010    4.758381           7.646709       0.539075
3  Afghanistan  2011    3.831719           7.619532       0.521104
4  Afghanistan  2012    3.782938           7.705479       0.520637

   HealthyLifeExpectancyatBirth   Freedom  Generosity  \
0                     50.799999  0.718114    0.167640
1                     51.200001  0.678896    0.190099
2                     51.599998  0.600127    0.120590
3                     51.919998  0.495901    0.162427
4                     52.240002  0.530935    0.236032

   PerceptionsOfCorruption  PositiveAffect  ...    HDI  Marriages  \
0                 0.881686        0.517637  ...  0.447        NaN
1                 0.850035        0.583926  ...  0.460        NaN
2                 0.706766        0.618265  ...  0.472        NaN
3                 0.731109        0.611387  ...  0.477        NaN
4                 0.775620        0.710385  ...  0.489        NaN

   Regional_indicator  Code  Population FertilityRate  GDPperCapita  \
0          South Asia   AFG  27722281.0         6.373    412.014212
1          South Asia   AFG  28394806.0         6.180    488.300371
2          South Asia   AFG  29185511.0         5.977    543.302967
3          South Asia   AFG  30117411.0         5.770    528.736683
4          South Asia   AFG  31161378.0         5.562    576.190088

   GiniIndex  Alcohol  avgHoursWorked
0        NaN      NaN             NaN
1        NaN      NaN             NaN
2        NaN     0.21             NaN
3        NaN      NaN             NaN
4        NaN      NaN             NaN

[5 rows x 22 columns]

In [3]:
df['Log(GDPpc)'] = np.log(df['GDPperCapita'])
df.drop(['GDPperCapita','Log(GDPpercapita)'],axis=1,inplace=True)

In [4]:
#Display number of rows, columns, dtype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       1944 non-null   object
 1   Year                          1944 non-null   int64
 2   LifeLadder                    1628 non-null   float64
 3   SocialSupport                 1618 non-null   float64
 4   HealthyLifeExpectancyatBirth  1582 non-null   float64
 5   Freedom                       1603 non-null   float64
 6   Generosity                    1584 non-null   float64
 7   PerceptionsOfCorruption       1536 non-null   float64
 8   PositiveAffect                1610 non-null   float64
 9   NegativeAffect                1616 non-null   float64
 10  choc_consumption              946 non-null    float64
 11  HDI                           1880 non-null   float64
 12  Marriages                     926 non-null    float64
 13  Regional_indicator            1774 non-null   object
 14  Code                          1907 non-null   object
 15  Population                    1896 non-null   float64
 16  FertilityRate                 1896 non-null   float64
 17  GiniIndex                     846 non-null    float64
 18  Alcohol                       464 non-null    float64
 19  avgHoursWorked                790 non-null    float64
 20  Log(GDPpc)                    1862 non-null   float64
dtypes: float64(17), int64(1), object(3)
memory usage: 319.1+ KB

In [5]:
df.describe()

,Year,LifeLadder,SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,choc_consumption,HDI,Marriages,Population,FertilityRate,GiniIndex,Alcohol,avgHoursWorked,Log(GDPpc)
count,1944.000000,1628.000000,1618.000000,1582.000000,1603.000000,1584.000000,1536.000000,1610.000000,1616.000000,946.000000,1880.000000,9.260000e+02,1.896000e+03,1896.000000,846.00000,464.000000,790.000000,1862.000000
mean,2013.500514,5.449378,0.808721,63.413049,0.740814,-0.000906,0.747855,0.708258,0.269840,1.185592,0.706862,2.223561e+05,4.507382e+07,2.818688,36.49409,6.226782,1879.523463,8.588772
std,3.453537,1.121647,0.119879,7.380414,0.142661,0.162929,0.186189,0.109379,0.086837,1.270628,0.159436,9.646764e+05,1.523643e+08,1.448919,7.87119,4.232099,272.715940,1.487755
min,2008.000000,2.375092,0.290184,32.299999,0.257534,-0.335040,0.035198,0.321690,0.092696,0.100000,0.314000,1.456000e+03,3.068220e+05,0.918000,23.70000,0.003000,1380.607643,5.337898
25%,2010.750000,4.620164,0.745988,58.500000,0.643541,-0.116450,0.692311,0.621063,0.206073,0.300000,0.566750,2.013750e+04,4.459328e+06,1.710000,30.50000,2.367500,1674.857862,7.308501
50%,2013.500000,5.385865,0.831603,65.199997,0.761488,-0.028109,0.801774,0.718404,0.259715,0.700000,0.734000,4.324250e+04,1.055228e+07,2.274500,35.10000,6.160000,1844.446503,8.594813
75%,2016.250000,6.272436,0.903839,68.480000,0.855094,0.088514,0.871291,0.799524,0.321810,1.580000,0.835000,1.251450e+05,3.205935e+07,3.631000,41.50000,9.710000,2105.945029,9.726389
max,2019.000000,7.970892,0.987343,77.099998,0.985178,0.698099,0.983276,0.943621,0.704590,13.910000,0.957000,1.297100e+07,1.397715e+09,7.542000,63.40000,17.430000,2586.720564,11.617678

## Missing Values

In [6]:
#Get Total and % of Missings
def missingcheck(df):
 total = df.isnull().sum().sort_values(ascending=False)
 percent_1 = df.isnull().sum()/df.isnull().count()*100
 percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
 missing_data = pd.concat([total, percent_2], axis=1, keys=["Total", "%"])
 return missing_data

In [7]:
missingcheck(df)

                              Total     %
Alcohol                        1480  76.1
avgHoursWorked                 1154  59.4
GiniIndex                      1098  56.5
Marriages                      1018  52.4
choc_consumption                998  51.3
PerceptionsOfCorruption         408  21.0
HealthyLifeExpectancyatBirth    362  18.6
Generosity                      360  18.5
Freedom                         341  17.5
PositiveAffect                  334  17.2
NegativeAffect                  328  16.9
SocialSupport                   326  16.8
LifeLadder                      316  16.3
Regional_indicator              170   8.7
Log(GDPpc)                       82   4.2
HDI                              64   3.3
Population                       48   2.5
FertilityRate                    48   2.5
Code                             37   1.9
Year                              0   0.0
Country                           0   0.0

In [8]:
df.loc[df.isnull().any(axis=1)]

,Country,Year,LifeLadder,SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,...,HDI,Marriages,Regional_indicator,Code,Population,FertilityRate,GiniIndex,Alcohol,avgHoursWorked,Log(GDPpc)
0,Afghanistan,2008,3.723590,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195,...,0.447,NaN,South Asia,AFG,27722281.0,6.373,NaN,NaN,NaN,6.021058
1,Afghanistan,2009,4.401778,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092,...,0.460,NaN,South Asia,AFG,28394806.0,6.180,NaN,NaN,NaN,6.190931
2,Afghanistan,2010,4.758381,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324,...,0.472,NaN,South Asia,AFG,29185511.0,5.977,NaN,0.21,NaN,6.297667
3,Afghanistan,2011,3.831719,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175,...,0.477,NaN,South Asia,AFG,30117411.0,5.770,NaN,NaN,NaN,6.270491
4,Afghanistan,2012,3.782938,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919,...,0.489,NaN,South Asia,AFG,31161378.0,5.562,NaN,NaN,NaN,6.356438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,Zimbabwe,2015,3.703191,0.735800,53.799999,0.667193,-0.123171,0.810457,0.715079,0.178861,...,0.553,NaN,Sub-Saharan Africa,ZWE,13814642.0,3.896,NaN,4.92,NaN,7.118099
1940,Zimbabwe,2016,3.735400,0.768425,54.400002,0.732971,-0.094634,0.723612,0.737636,0.208555,...,0.558,NaN,Sub-Saharan Africa,ZWE,14030338.0,3.804,NaN,NaN,NaN,7.110136
1941,Zimbabwe,2017,3.638300,0.754147,55.000000,0.752826,-0.097645,0.751208,0.806428,0.224051,...,0.563,NaN,Sub-Saharan Africa,ZWE,14236599.0,3.707,44.3,NaN,NaN,7.141465
1942,Zimbabwe,2018,3.616480,0.775388,55.599998,0.762675,-0.068427,0.844209,0.710119,0.211726,...,0.569,NaN,Sub-Saharan Africa,ZWE,14438812.0,3.615,NaN,4.67,NaN,7.161736
1943,Zimbabwe,2019,2.693523,0.759162,56.200001,0.631908,-0.063791,0.830652,0.716004,0.235354,...,0.571,NaN,Sub-Saharan Africa,ZWE,14645473.0,3.531,50.3,NaN,NaN,7.063055

### Categorical Vars
#### (Regional indicator & Code)

###### Code variable

In [9]:
df[df['Code'].isnull()]

,Country,Year,LifeLadder,SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,...,HDI,Marriages,Regional_indicator,Code,Population,FertilityRate,GiniIndex,Alcohol,avgHoursWorked,Log(GDPpc)
1272,North Cyprus,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1273,North Cyprus,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1274,North Cyprus,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1275,North Cyprus,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1276,North Cyprus,2012,5.463305,0.871150,NaN,0.692568,NaN,0.854730,0.709236,0.405435,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,North Cyprus,2013,5.566803,0.869274,NaN,0.775383,NaN,0.715356,0.621554,0.442972,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,North Cyprus,2014,5.785979,0.801802,NaN,0.829677,NaN,0.692221,0.723842,0.311336,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,North Cyprus,2015,5.842550,0.791383,NaN,0.785353,NaN,0.659180,0.701609,0.318930,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,North Cyprus,2016,5.827128,0.807690,NaN,0.796234,NaN,0.670191,0.643664,0.346465,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,North Cyprus,2018,5.608056,0.837392,NaN,0.797066,NaN,0.613837,0.480453,0.261868,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1282,North Cyprus,2019,5.466615,0.803295,NaN,0.792735,NaN,0.640059,0.493693,0.296411,...,NaN,NaN,Western Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,Palestinian Territories,2008,4.385603,0.665911,62.014999,0.357757,-0.069941,0.753213,0.571269,0.403283,...,0.674,35777.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,Palestinian Territories,2009,4.470191,0.738077,62.132500,0.467812,-0.085347,0.797354,0.544387,0.466428,...,0.679,38316.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,Palestinian Territories,2010,4.702604,0.821746,62.250000,0.504262,-0.117258,0.752415,0.627588,0.381490,...,0.684,37228.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,Palestinian Territories,2011,4.751220,0.750832,NaN,0.521889,-0.127053,0.750208,0.567007,0.387651,...,0.692,36284.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,Palestinian Territories,2012,4.646608,0.782169,NaN,0.541583,-0.153289,0.730194,0.616355,0.378504,...,0.698,40292.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1336,Palestinian Territories,2013,4.844028,0.760900,NaN,0.453903,-0.150118,0.779646,0.593701,0.365276,...,0.695,42698.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,Palestinian Territories,2014,4.721938,0.775087,NaN,0.657050,-0.146588,0.804165,0.565057,0.380452,...,0.697,43732.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1338,Palestinian Territories,2015,4.695239,0.766101,NaN,0.556041,-0.152813,0.774301,0.594456,0.369085,...,0.701,50438.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1339,Palestinian Territories,2016,4.906618,0.817771,NaN,0.607669,-0.128925,0.812465,0.592769,0.377642,...,0.704,49930.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1340,Palestinian Territories,2017,4.628133,0.824345,NaN,0.631611,-0.162522,0.830646,0.596766,0.416072,...,0.706,47218.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,Palestinian Territories,2018,4.553922,0.819479,NaN,0.654535,NaN,0.813780,0.610405,0.418929,...,0.708,43515.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1342,Palestinian Territories,2019,4.482537,0.832550,NaN,0.653488,NaN,0.829283,0.625176,0.399672,...,0.708,44320.0,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,Swaziland,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,Swaziland,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,Swaziland,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,Swaziland,2011,4.867091,0.837150,40.808292,0.607157,-0.066733,0.917250,0.820613,0.251053,...,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,Swaziland,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,Swaziland,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,Swaziland,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,Swaziland,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651,Swaziland,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,Swaziland,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1653,Swaziland,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,Swaziland,2018,4.211565,0.779270,50.353203,0.709974,-0.178416,0.692341,0.824355,0.252339,...,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,Swaziland,2019,4.396115,0.759098,51.270393,0.596682,-0.190738,0.723508,0.777627,0.279595,...,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1698,Taiwan Province of China,2014,6.363497,0.870012,NaN,0.692900,0.091989,0.865741,0.848841,0.108366,...,NaN,NaN,East Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Imputing Code for Taiwan (TWN)
df.loc[df['Country'] == 'Taiwan Province of China', 'Code'] = 'TWN'

#Imputing Code for Swaziland (SWZ)
df.loc[df['Country'] == 'Swaziland', 'Code'] = 'SWZ'

In [11]:
#Drop rows for Palestinian Territories (not a country)
df.drop(df.loc[df['Country']=='Palestinian Territories'].index, inplace=True)

#Drop rows for North Cyprus (not a country)
df.drop(df.loc[df['Country']=='North Cyprus'].index, inplace=True)

In [12]:
df[df['Code'].isnull()] # No more missings in Code

Empty DataFrame
Columns: [Country, Year, LifeLadder, SocialSupport, HealthyLifeExpectancyatBirth, Freedom, Generosity, PerceptionsOfCorruption, PositiveAffect, NegativeAffect, choc_consumption, HDI, Marriages, Regional_indicator, Code, Population, FertilityRate, GiniIndex, Alcohol, avgHoursWorked, Log(GDPpc)]
Index: []

[0 rows x 21 columns]

##### Regional indicator variable

In [13]:
df[df['Regional_indicator'].isnull()]

,Country,Year,LifeLadder,SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,...,HDI,Marriages,Regional_indicator,Code,Population,FertilityRate,GiniIndex,Alcohol,avgHoursWorked,Log(GDPpc)
36,Angola,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.501,NaN,NaN,AGO,21695636.0,6.320,42.7,NaN,NaN,8.207424
37,Angola,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.515,NaN,NaN,AGO,22514275.0,6.260,NaN,NaN,NaN,8.178936
38,Angola,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.517,NaN,NaN,AGO,23356247.0,6.194,NaN,8.16,NaN,8.185318
39,Angola,2011,5.589001,0.723094,52.500000,0.583702,0.055257,0.911320,0.658647,0.361063,...,0.533,NaN,NaN,AGO,24220660.0,6.120,NaN,NaN,NaN,8.183107
40,Angola,2012,4.360250,0.752593,53.200001,0.456029,-0.136070,0.906300,0.557908,0.304890,...,0.544,NaN,NaN,AGO,25107925.0,6.039,NaN,NaN,NaN,8.229098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,Trinidad and Tobago,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.792,7981.0,NaN,TTO,1370332.0,1.767,NaN,6.88,NaN,9.728178
1760,Trinidad and Tobago,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.792,8324.0,NaN,TTO,1377563.0,1.753,NaN,NaN,NaN,9.665266
1761,Trinidad and Tobago,2017,6.191860,0.916029,63.500000,0.859140,0.014855,0.911336,0.846467,0.248099,...,0.795,7869.0,NaN,TTO,1384060.0,1.739,NaN,NaN,NaN,9.630232
1762,Trinidad and Tobago,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.795,NaN,NaN,TTO,1389841.0,1.725,NaN,6.72,NaN,9.626725
1763,Trinidad and Tobago,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.796,NaN,NaN,TTO,1394969.0,1.711,NaN,NaN,NaN,9.610499

In [14]:
# Unique Regional indicators
uniquevalues = df.Regional_indicator.unique()
print(uniquevalues)

['South Asia' 'Central and Eastern Europe' 'Middle East and North Africa'
 nan 'Latin America and Caribbean' 'Commonwealth of Independent States'
 'North America and ANZ' 'Western Europe' 'Sub-Saharan Africa'
 'Southeast Asia' 'East Asia']

In [15]:
# Imputing Regional indicator for Angola (Sub-Saharan Africa)
df.loc[df['Country'] == 'Angola', 'Regional_indicator'] = 'Sub-Saharan Africa'

#Imputing Code for Swaziland (Latin America & Caribbean)
df.loc[df['Country'] == 'Trinidad and Tobago', 'Regional_indicator'] = 'Latin America & Caribbean'

#Imputing Code for Belize ()
df.loc[df['Country'] == 'Belize', 'Regional_indicator'] = 'Latin America & Caribbean'

df.loc[df['Country'] == 'Syria', 'Regional_indicator'] = 'Middle East & North Africa'

df.loc[df['Country'] == 'Bhutan', 'Regional_indicator'] = 'South Asia'

df.loc[df['Country'] == 'Swaziland', 'Regional_indicator'] = 'Sub-Saharan Africa'

df.loc[df['Country'] == 'Central African Republic', 'Regional_indicator'] = 'Sub-Saharan Africa'

df.loc[df['Country'] == 'Suriname', 'Regional_indicator'] = 'Latin America & Caribbean'

df.loc[df['Country'] == 'Congo, Dem. Rep.', 'Regional_indicator'] = 'Sub-Saharan Africa'

df.loc[df['Country'] == 'Sudan', 'Regional_indicator'] = 'Latin America & Caribbean'

df.loc[df['Country'] == 'Oman', 'Regional_indicator'] = 'Middle East & North Africa'

df.loc[df['Country'] == 'Qatar', 'Regional_indicator'] = 'Middle East & North Africa'

df.loc[df['Country'] == 'Somalia', 'Regional_indicator'] = 'Sub-Saharan Africa'

df.loc[df['Country'] == 'South Sudan', 'Regional_indicator'] = 'Sub-Saharan Africa'



# All information available at World Data Bank

In [16]:
df[df['Regional_indicator'].isnull()] # No more missings in Regional_indicator

Empty DataFrame
Columns: [Country, Year, LifeLadder, SocialSupport, HealthyLifeExpectancyatBirth, Freedom, Generosity, PerceptionsOfCorruption, PositiveAffect, NegativeAffect, choc_consumption, HDI, Marriages, Regional_indicator, Code, Population, FertilityRate, GiniIndex, Alcohol, avgHoursWorked, Log(GDPpc)]
Index: []

[0 rows x 21 columns]

In [17]:
missingcheck(df)

                              Total     %
Alcohol                        1457  75.8
avgHoursWorked                 1131  58.9
GiniIndex                      1075  56.0
Marriages                      1007  52.4
choc_consumption                975  50.8
PerceptionsOfCorruption         404  21.0
Generosity                      347  18.1
HealthyLifeExpectancyatBirth    342  17.8
Freedom                         337  17.5
PositiveAffect                  330  17.2
NegativeAffect                  324  16.9
SocialSupport                   322  16.8
LifeLadder                      312  16.2
Log(GDPpc)                       59   3.1
HDI                              53   2.8
Population                       25   1.3
FertilityRate                    25   1.3
Code                              0   0.0
Regional_indicator                0   0.0
Year                              0   0.0
Country                           0   0.0

### Numerical Vars treatment

In [18]:
# num_vars has only the variables with missings
numerical_vars = df.iloc[:,2:21]
num_vars = numerical_vars.drop(columns=['Regional_indicator', 'Code'])
print(num_vars)

      LifeLadder  SocialSupport  HealthyLifeExpectancyatBirth   Freedom  \
0       3.723590       0.450662                     50.799999  0.718114
1       4.401778       0.552308                     51.200001  0.678896
2       4.758381       0.539075                     51.599998  0.600127
3       3.831719       0.521104                     51.919998  0.495901
4       3.782938       0.520637                     52.240002  0.530935
...          ...            ...                           ...       ...
1939    3.703191       0.735800                     53.799999  0.667193
1940    3.735400       0.768425                     54.400002  0.732971
1941    3.638300       0.754147                     55.000000  0.752826
1942    3.616480       0.775388                     55.599998  0.762675
1943    2.693523       0.759162                     56.200001  0.631908

      Generosity  PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
0       0.167640                 0.881686        0.517637        0.258195
1       0.190099                 0.850035        0.583926        0.237092
2       0.120590                 0.706766        0.618265        0.275324
3       0.162427                 0.731109        0.611387        0.267175
4       0.236032                 0.775620        0.710385        0.267919
...          ...                      ...             ...             ...
1939   -0.123171                 0.810457        0.715079        0.178861
1940   -0.094634                 0.723612        0.737636        0.208555
1941   -0.097645                 0.751208        0.806428        0.224051
1942   -0.068427                 0.844209        0.710119        0.211726
1943   -0.063791                 0.830652        0.716004        0.235354

      choc_consumption    HDI  Marriages  Population  FertilityRate  \
0                  0.1  0.447        NaN  27722281.0          6.373
1                  NaN  0.460        NaN  28394806.0          6.180
2                  NaN  0.472        NaN  29185511.0          5.977
3                  0.2  0.477        NaN  30117411.0          5.770
4                  0.2  0.489        NaN  31161378.0          5.562
...                ...    ...        ...         ...            ...
1939               NaN  0.553        NaN  13814642.0          3.896
1940               NaN  0.558        NaN  14030338.0          3.804
1941               NaN  0.563        NaN  14236599.0          3.707
1942               NaN  0.569        NaN  14438812.0          3.615
1943               NaN  0.571        NaN  14645473.0          3.531

      GiniIndex  Alcohol  avgHoursWorked  Log(GDPpc)
0           NaN      NaN             NaN    6.021058
1           NaN      NaN             NaN    6.190931
2           NaN     0.21             NaN    6.297667
3           NaN      NaN             NaN    6.270491
4           NaN      NaN             NaN    6.356438
...         ...      ...             ...         ...
1939        NaN     4.92             NaN    7.118099
1940        NaN      NaN             NaN    7.110136
1941       44.3      NaN             NaN    7.141465
1942        NaN     4.67             NaN    7.161736
1943       50.3      NaN             NaN    7.063055

[1921 rows x 17 columns]

### Approach 1: K-NN with standardized data

We need to normalize the features before applying the k-nn imputer because it's distance based and not normalizing leads to bias.

In [19]:
scaler = preprocessing.MinMaxScaler()
names = num_vars.columns
d = scaler.fit_transform(num_vars)
scaled_df = pd.DataFrame(d, columns=names)
print(scaled_df.head())

   LifeLadder  SocialSupport  HealthyLifeExpectancyatBirth   Freedom  \
0    0.240984       0.230189                      0.412946  0.632975
1    0.362180       0.375989                      0.421875  0.579078
2    0.425907       0.357007                      0.430804  0.470826
3    0.260307       0.331229                      0.437946  0.327588
4    0.251590       0.330559                      0.445089  0.375735

   Generosity  PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
0    0.486556                 0.892847        0.315063        0.270471
1    0.508295                 0.859462        0.421648        0.235983
2    0.441015                 0.708347        0.476863        0.298464
3    0.481511                 0.734022        0.465803        0.285146
4    0.552755                 0.780971        0.624981        0.286362

   choc_consumption       HDI  Marriages  Population  FertilityRate  \
0          0.000000  0.206843        NaN    0.019619       0.823521
1               NaN  0.227061        NaN    0.020100       0.794384
2               NaN  0.245723        NaN    0.020666       0.763738
3          0.007241  0.253499        NaN    0.021333       0.732488
4          0.007241  0.272162        NaN    0.022080       0.701087

   GiniIndex   Alcohol  avgHoursWorked  Log(GDPpc)
0        NaN       NaN             NaN    0.108787
1        NaN       NaN             NaN    0.135838
2        NaN  0.011878             NaN    0.152835
3        NaN       NaN             NaN    0.148507
4        NaN       NaN             NaN    0.162194

https://www.journaldev.com/45109/normalize-data-in-python

In [20]:
imputer_knn1 = KNNImputer(n_neighbors=5)
df_stand = pd.DataFrame(imputer_knn1.fit_transform(scaled_df),columns = scaled_df.columns)

https://medium.com/@kyawsawhtoon/a-guide-to-knn-imputation-95e2dc496e

In [21]:
df_stand.isna().sum()

LifeLadder                      0
SocialSupport                   0
HealthyLifeExpectancyatBirth    0
Freedom                         0
Generosity                      0
PerceptionsOfCorruption         0
PositiveAffect                  0
NegativeAffect                  0
choc_consumption                0
HDI                             0
Marriages                       0
Population                      0
FertilityRate                   0
GiniIndex                       0
Alcohol                         0
avgHoursWorked                  0
Log(GDPpc)                      0
dtype: int64

In [22]:
print(df_stand.head())

   LifeLadder  SocialSupport  HealthyLifeExpectancyatBirth   Freedom  \
0    0.240984       0.230189                      0.412946  0.632975
1    0.362180       0.375989                      0.421875  0.579078
2    0.425907       0.357007                      0.430804  0.470826
3    0.260307       0.331229                      0.437946  0.327588
4    0.251590       0.330559                      0.445089  0.375735

   Generosity  PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
0    0.486556                 0.892847        0.315063        0.270471
1    0.508295                 0.859462        0.421648        0.235983
2    0.441015                 0.708347        0.476863        0.298464
3    0.481511                 0.734022        0.465803        0.285146
4    0.552755                 0.780971        0.624981        0.286362

   choc_consumption       HDI  Marriages  Population  FertilityRate  \
0          0.000000  0.206843   0.167417    0.019619       0.823521
1          0.003331  0.227061   0.167417    0.020100       0.794384
2          0.003621  0.245723   0.167331    0.020666       0.763738
3          0.007241  0.253499   0.180475    0.021333       0.732488
4          0.007241  0.272162   0.167283    0.022080       0.701087

   GiniIndex   Alcohol  avgHoursWorked  Log(GDPpc)
0   0.432242  0.134091        0.545936    0.108787
1   0.412594  0.089103        0.536475    0.135838
2   0.473048  0.011878        0.560060    0.152835
3   0.490176  0.145567        0.586390    0.148507
4   0.490176  0.173811        0.593517    0.162194

### Approach 2: K-NN normal data

In [39]:
numerical_vars = df.iloc[:,2:21]
num_vars = numerical_vars.drop(columns=['Regional_indicator', 'Code'])

In [40]:
imputer_knn2 = KNNImputer(n_neighbors=5)
df_knn = pd.DataFrame(imputer_knn2.fit_transform(num_vars),columns = num_vars.columns)
print(df_knn.head())

   LifeLadder  Log(GDPpercapita)  SocialSupport  HealthyLifeExpectancyatBirth  \
0    3.723590           7.370100       0.450662                     50.799999
1    4.401778           7.539972       0.552308                     51.200001
2    4.758381           7.646709       0.539075                     51.599998
3    3.831719           7.619532       0.521104                     51.919998
4    3.782938           7.705479       0.520637                     52.240002

    Freedom  Generosity  PerceptionsOfCorruption  PositiveAffect  \
0  0.718114    0.167640                 0.881686        0.517637
1  0.678896    0.190099                 0.850035        0.583926
2  0.600127    0.120590                 0.706766        0.618265
3  0.495901    0.162427                 0.731109        0.611387
4  0.530935    0.236032                 0.775620        0.710385

   NegativeAffect  choc_consumption    HDI  Marriages  Population  \
0        0.258195             0.100  0.447    45844.6  27722281.0
1        0.237092             0.598  0.460    43657.8  28394806.0
2        0.275324             0.598  0.472    42109.8  29185511.0
3        0.267175             0.200  0.477    44459.4  30117411.0
4        0.267919             0.200  0.489    45156.6  31161378.0

   FertilityRate  GDPperCapita  GiniIndex  Alcohol
0          6.373    412.014212      42.64   2.9240
1          6.180    488.300371      45.48   3.0202
2          5.977    543.302967      44.58   0.2100
3          5.770    528.736683      43.18   3.5080
4          5.562    576.190088      45.16   3.4420

https://machinelearningmastery.com/knn-imputation-for-missing-values-in-machine-learning/

In [31]:
shadyrows2 = df_knn[df_knn['Marriages']<0]
shadyrows2

Empty DataFrame
Columns: [LifeLadder, Log(GDPpercapita), SocialSupport, HealthyLifeExpectancyatBirth, Freedom, Generosity, PerceptionsOfCorruption, PositiveAffect, NegativeAffect, choc_consumption, HDI, Marriages, Population, FertilityRate, GDPperCapita, GiniIndex, Alcohol]
Index: []

### Approach 3: Iterative Imputation 
#### DÃ¡ valores negativos em ratio variables -> nÃ£o usar

Iterative imputation refers to a process where each feature is modeled as a function of the other features. In our case, BayesianRidge method was applied, which is a regularized linear regression

In [47]:
numerical_vars = df.iloc[:,2:21]
num_vars = numerical_vars.drop(columns=['Regional_indicator', 'Code'])

In [48]:
# define imputer
imputer_ii = IterativeImputer(estimator= BayesianRidge(), n_nearest_features=None, imputation_order='ascending')
# fit on the dataset
imputer_ii.fit(num_vars)
# transform the dataset
imputer_ii.transform(num_vars)
num_vars[:]= imputer_ii.transform(num_vars)
iidf=num_vars[:]
print(iidf)

      LifeLadder  Log(GDPpercapita)  SocialSupport  \
0       3.723590           7.370100       0.450662
1       4.401778           7.539972       0.552308
2       4.758381           7.646709       0.539075
3       3.831719           7.619532       0.521104
4       3.782938           7.705479       0.520637
...          ...                ...            ...
1939    3.703191           7.992339       0.735800
1940    3.735400           7.984372       0.768425
1941    3.638300           8.015738       0.754147
1942    3.616480           8.048798       0.775388
1943    2.693523           7.950132       0.759162

      HealthyLifeExpectancyatBirth   Freedom  Generosity  \
0                        50.799999  0.718114    0.167640
1                        51.200001  0.678896    0.190099
2                        51.599998  0.600127    0.120590
3                        51.919998  0.495901    0.162427
4                        52.240002  0.530935    0.236032
...                            ...       ...         ...
1939                     53.799999  0.667193   -0.123171
1940                     54.400002  0.732971   -0.094634
1941                     55.000000  0.752826   -0.097645
1942                     55.599998  0.762675   -0.068427
1943                     56.200001  0.631908   -0.063791

      PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
0                    0.881686        0.517637        0.258195
1                    0.850035        0.583926        0.237092
2                    0.706766        0.618265        0.275324
3                    0.731109        0.611387        0.267175
4                    0.775620        0.710385        0.267919
...                       ...             ...             ...
1939                 0.810457        0.715079        0.178861
1940                 0.723612        0.737636        0.208555
1941                 0.751208        0.806428        0.224051
1942                 0.844209        0.710119        0.211726
1943                 0.830652        0.716004        0.235354

      choc_consumption    HDI      Marriages  Population  FertilityRate  \
0             0.100000  0.447  225097.239160  27722281.0          6.373
1             0.464809  0.460  230828.675507  28394806.0          6.180
2             0.319008  0.472  237619.542279  29185511.0          5.977
3             0.200000  0.477  245742.721326  30117411.0          5.770
4             0.200000  0.489  254746.635007  31161378.0          5.562
...                ...    ...            ...         ...            ...
1939         -0.001365  0.553  102956.170838  13814642.0          3.896
1940          0.726858  0.558  104846.013279  14030338.0          3.804
1941          0.716077  0.563  106580.344344  14236599.0          3.707
1942         -0.140582  0.569  108299.269598  14438812.0          3.615
1943          0.909443  0.571  110278.304615  14645473.0          3.531

      GDPperCapita  GiniIndex   Alcohol
0       412.014212  32.617146  0.491505
1       488.300371  35.131212  1.810922
2       543.302967  39.236564  0.210000
3       528.736683  36.556403 -0.167102
4       576.190088  39.228616 -0.025218
...            ...        ...       ...
1939   1234.102191  41.104187  4.920000
1940   1224.314460  39.863627  7.247354
1941   1263.278346  44.300000  6.589488
1942   1289.146499  40.929299  4.670000
1943   1168.008072  50.300000  3.624952

[1944 rows x 17 columns]

In [49]:
iidf.describe()

,LifeLadder,Log(GDPpercapita),SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,choc_consumption,HDI,Marriages,Population,FertilityRate,GDPperCapita,GiniIndex,Alcohol
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1.944000e+03,1.944000e+03,1944.000000,1944.000000,1944.000000,1944.000000
mean,5.401733,9.274196,0.803091,62.951314,0.740323,0.002846,0.744391,0.708374,0.270756,1.171742,0.705499,3.534384e+05,4.485261e+07,2.819444,14066.817753,37.936135,6.584594
std,1.074001,1.179620,0.113970,7.372025,0.130671,0.149605,0.174613,0.101163,0.079710,1.077491,0.158511,1.324390e+06,1.504957e+08,1.434607,19093.450892,6.699948,3.739461
min,2.375092,6.635322,0.290184,32.299999,0.257534,-0.335040,0.035198,0.321690,0.092696,-1.140333,0.314000,-9.229037e+04,3.068220e+05,0.918000,208.074775,7.507582,-3.557559
25%,4.600376,8.310685,0.735928,57.500000,0.668110,-0.095537,0.697625,0.639030,0.216270,0.430000,0.567000,2.223894e+04,4.554537e+06,1.719000,1598.402794,33.064188,3.938764
50%,5.322630,9.370079,0.819961,64.800003,0.741093,-0.010053,0.788210,0.711524,0.268250,0.930000,0.731000,7.033580e+04,1.070103e+07,2.308500,5913.070236,38.161087,6.369974
75%,6.149407,10.235914,0.894399,68.099998,0.835635,0.075522,0.857182,0.786176,0.309457,1.592057,0.830250,2.295451e+05,3.435748e+07,3.612250,15916.676419,42.504634,9.115601
max,7.970892,11.648169,1.010568,77.099998,0.985178,0.698099,0.983276,0.943621,0.704590,13.910000,0.957000,1.297100e+07,1.397715e+09,7.542000,111043.531695,63.400000,30.890281

In [34]:
shadyrows3 = iidf[iidf['Marriages']<0]
print(shadyrows3)

      LifeLadder  Log(GDPpercapita)  SocialSupport  \
108     5.845912           9.972326       0.848038
109     5.700523          10.709387       0.904143
110     5.936869          10.705819       0.877115
111     4.823976          10.695849       0.907868
112     5.027187          10.715547       0.911350
...          ...                ...            ...
1315    5.905551          10.053891       0.867222
1762    5.659446           9.881964       0.828908
1763    5.695559           9.863720       0.840854
1824    6.216951          10.329785       0.851002
1825    6.866063          10.974636       0.885089

      HealthyLifeExpectancyatBirth   Freedom  Generosity  \
108                      66.810725  0.746735   -0.000283
109                      65.940002  0.895931    0.037422
110                      66.300003  0.862003   -0.000584
111                      66.580002  0.869870   -0.051371
112                      66.860001  0.681823   -0.089943
...                            ...       ...         ...
1315                     66.445243  0.743394   -0.047087
1762                     67.324161  0.723948   -0.002390
1763                     67.264990  0.734606   -0.010238
1824                     68.124237  0.778290    0.097934
1825                     66.279999  0.848822    0.019040

      PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
108                  0.709979        0.702101        0.268978
109                  0.506104        0.763664        0.421889
110                  0.714620        0.684588        0.422671
111                  0.582522        0.543588        0.513719
112                  0.437915        0.589015        0.380815
...                       ...             ...             ...
1315                 0.744409        0.706665        0.264879
1762                 0.751277        0.685450        0.279508
1763                 0.760189        0.694347        0.275294
1824                 0.551352        0.716991        0.249750
1825                 0.338876        0.770118        0.287074

      choc_consumption    HDI     Marriages  Population  FertilityRate  \
108           1.486861  0.800 -38080.797204   1114645.0          2.241
109           1.285294  0.798 -36313.750035   1185075.0          2.197
110           0.651028  0.800 -35717.025314   1240864.0          2.164
111           1.626058  0.801 -35083.143712   1278153.0          2.139
112           1.413752  0.808 -35508.793924   1299942.0          2.118
...                ...    ...           ...         ...            ...
1315          1.451098  0.815  -1472.843279   4479217.0          2.937
1762          1.249738  0.795 -26047.441858   1389841.0          1.725
1763          1.299490  0.796 -25635.075880   1394969.0          1.711
1824          0.840000  0.821 -17625.729745   7089486.0          1.939
1825          1.100000  0.819   -735.322812   7917368.0          1.877

      GDPperCapita  GiniIndex   Alcohol
108   21562.585092  35.681269  7.489235
109   20796.219469  46.178313  3.039507
110   20722.070490  46.069040  1.690000
111   20516.556212  40.081025  3.552792
112   20924.726527  39.226786  3.072378
...            ...        ...       ...
1315  16679.071942  35.932594  7.415704
1762  15164.684384  36.288375  6.720000
1763  14920.616050  36.231523  7.471984
1824  42456.801874  33.550009  5.527875
1825  36024.076429  43.273179  3.496427

[132 rows x 17 columns]

https://scikit-learn.org/stable/auto_examples/impute/plot_iterative_imputer_variants_comparison.html

## Aggregate all columns into one dataset

Use Approach 2

In [1]:
# Join numerical variables that were imputed with KNN to the variables Code and Regional_indicator

In [41]:
df_knn['Country'] = df['Country'].values
df_knn['Year'] = df['Year'].values
df_knn['Code'] = df['Code'].values
df_knn['Regional_indicator'] = df['Regional_indicator'].values

In [42]:
print(df_knn)

      LifeLadder  Log(GDPpercapita)  SocialSupport  \
0       3.723590           7.370100       0.450662
1       4.401778           7.539972       0.552308
2       4.758381           7.646709       0.539075
3       3.831719           7.619532       0.521104
4       3.782938           7.705479       0.520637
...          ...                ...            ...
1939    3.703191           7.992339       0.735800
1940    3.735400           7.984372       0.768425
1941    3.638300           8.015738       0.754147
1942    3.616480           8.048798       0.775388
1943    2.693523           7.950132       0.759162

      HealthyLifeExpectancyatBirth   Freedom  Generosity  \
0                        50.799999  0.718114    0.167640
1                        51.200001  0.678896    0.190099
2                        51.599998  0.600127    0.120590
3                        51.919998  0.495901    0.162427
4                        52.240002  0.530935    0.236032
...                            ...       ...         ...
1939                     53.799999  0.667193   -0.123171
1940                     54.400002  0.732971   -0.094634
1941                     55.000000  0.752826   -0.097645
1942                     55.599998  0.762675   -0.068427
1943                     56.200001  0.631908   -0.063791

      PerceptionsOfCorruption  PositiveAffect  NegativeAffect  \
0                    0.881686        0.517637        0.258195
1                    0.850035        0.583926        0.237092
2                    0.706766        0.618265        0.275324
3                    0.731109        0.611387        0.267175
4                    0.775620        0.710385        0.267919
...                       ...             ...             ...
1939                 0.810457        0.715079        0.178861
1940                 0.723612        0.737636        0.208555
1941                 0.751208        0.806428        0.224051
1942                 0.844209        0.710119        0.211726
1943                 0.830652        0.716004        0.235354

      choc_consumption  ...  Marriages  Population  FertilityRate  \
0                0.100  ...    45844.6  27722281.0          6.373
1                0.598  ...    43657.8  28394806.0          6.180
2                0.598  ...    42109.8  29185511.0          5.977
3                0.200  ...    44459.4  30117411.0          5.770
4                0.200  ...    45156.6  31161378.0          5.562
...                ...  ...        ...         ...            ...
1939             0.598  ...    45156.6  13814642.0          3.896
1940             0.598  ...    43815.4  14030338.0          3.804
1941             0.598  ...    45156.6  14236599.0          3.707
1942             0.598  ...    43815.4  14438812.0          3.615
1943             0.598  ...    45200.0  14645473.0          3.531

      GDPperCapita  GiniIndex  Alcohol      Country  Year  Code  \
0       412.014212      42.64   2.9240  Afghanistan  2008   AFG
1       488.300371      45.48   3.0202  Afghanistan  2009   AFG
2       543.302967      44.58   0.2100  Afghanistan  2010   AFG
3       528.736683      43.18   3.5080  Afghanistan  2011   AFG
4       576.190088      45.16   3.4420  Afghanistan  2012   AFG
...            ...        ...      ...          ...   ...   ...
1939   1234.102191      44.60   4.9200     Zimbabwe  2015   ZWE
1940   1224.314460      45.18   2.9606     Zimbabwe  2016   ZWE
1941   1263.278346      44.30   3.0540     Zimbabwe  2017   ZWE
1942   1289.146499      44.58   4.6700     Zimbabwe  2018   ZWE
1943   1168.008072      50.30   3.9360     Zimbabwe  2019   ZWE

      Regional_indicator
0             South Asia
1             South Asia
2             South Asia
3             South Asia
4             South Asia
...                  ...
1939  Sub-Saharan Africa
1940  Sub-Saharan Africa
1941  Sub-Saharan Africa
1942  Sub-Saharan Africa
1943  Sub-Saharan Africa

[1944 rows x 21 columns]

In [43]:
missingcheck(df_knn)

                              Total    %
Regional_indicator              170  8.7
Code                             37  1.9
Marriages                         0  0.0
Year                              0  0.0
Country                           0  0.0
Alcohol                           0  0.0
GiniIndex                         0  0.0
GDPperCapita                      0  0.0
FertilityRate                     0  0.0
Population                        0  0.0
LifeLadder                        0  0.0
Log(GDPpercapita)                 0  0.0
choc_consumption                  0  0.0
NegativeAffect                    0  0.0
PositiveAffect                    0  0.0
PerceptionsOfCorruption           0  0.0
Generosity                        0  0.0
Freedom                           0  0.0
HealthyLifeExpectancyatBirth      0  0.0
SocialSupport                     0  0.0
HDI                               0  0.0

In [45]:
df_knn.describe()

,LifeLadder,Log(GDPpercapita),SocialSupport,HealthyLifeExpectancyatBirth,Freedom,Generosity,PerceptionsOfCorruption,PositiveAffect,NegativeAffect,choc_consumption,HDI,Marriages,Population,FertilityRate,GDPperCapita,GiniIndex,Alcohol,Year
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1.944000e+03,1.944000e+03,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,5.391116,9.321619,0.805989,63.429507,0.716654,-0.013944,0.753380,0.700674,0.277709,0.956125,0.706244,1.441031e+05,5.033189e+07,2.815466,13871.330930,37.580873,6.457347,2013.500514
std,1.065740,1.126302,0.110725,6.834776,0.146069,0.152947,0.166849,0.109165,0.092755,0.991185,0.157707,7.021210e+05,1.631252e+08,1.435910,19200.391315,6.467226,2.926962,3.453537
min,2.375092,6.635322,0.290184,32.299999,0.257534,-0.335040,0.035198,0.321690,0.092696,0.100000,0.314000,1.456000e+03,3.068220e+05,0.918000,208.074775,23.700000,0.003000,2008.000000
25%,4.630729,8.425857,0.748575,59.599998,0.612808,-0.121342,0.712410,0.603763,0.206106,0.598000,0.571000,3.822400e+04,4.537106e+06,1.719000,1527.496099,32.700000,4.623600,2010.750000
50%,5.269830,9.365900,0.819455,65.027499,0.729428,-0.037609,0.792558,0.703816,0.269840,0.598000,0.730500,4.435640e+04,1.078623e+07,2.294000,5559.440950,37.560000,6.470000,2013.500000
75%,6.110278,10.324227,0.892790,67.704998,0.833849,0.059726,0.855796,0.798732,0.350596,0.970000,0.831000,4.708420e+04,3.533783e+07,3.615750,16493.543157,42.200000,8.324500,2016.250000
max,7.970892,11.648169,0.987343,77.099998,0.985178,0.698099,0.983276,0.943621,0.704590,13.910000,0.957000,1.297100e+07,1.397715e+09,7.542000,111043.531695,63.400000,17.430000,2019.000000

In [46]:
#Export Dataset
df_knn.to_csv('Final.csv', index = False, header = True)